# IDE
.idea/
.vscode/

# deps (на всякий)
node_modules/
**/node_modules/

# env (на всякий)
.env
.env.*
!**/.env.example

# Firebase local stuff
.firebase/

# Debug logs
firestore-debug.log
pubsub-debug.log
*.log

# Optional build outputs (если это генерится сборкой)
functions/lib/
web/dist/
# Google / Firebase secrets
google-services.json
**/google-services.json

serviceAccountKey.json
firebase-adminsdk*.json
**/firebase-adminsdk*.json
